/*-----------------------------ANIMATIONS ENTER LEAVE------------------*/

@keyframes appear{
  0%      { opacity: 0; }
  20%     { opacity: 1; }
  40%     { opacity: 1; }
  60%     { opacity: 1; }
  100%    { opacity: 1; }
}
@keyframes disappear{
  0%      { opacity: 1; }
  20%     { opacity: 0.5; }
  40%     { opacity: 0; }
  60%     { opacity: 0; }
  100%    { opacity: 0; }
}
.ng-enter           { animation: appear 0.5s both ease-in; z-index: -100; }
.ng-leave           { animation: disappear 0.5s both ease-in; z-index: -90; }

/* app css stylesheet */
*{
  font-family:'Roboto', sans-serif;
  text-decoration: none;
  margin: 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  overflow:hidden;
}
.snow{
  position: absolute;
  top:0;
  z-index: -99999;

}
/*------------------NAV---------------------------*/

nav{
  position: absolute;
  z-index: 10;
}
nav .wrap{
  height: 700px;
}

nav > div > div{
  height: 110px;
  width: 80px;
  position: relative;
  border-radius: 0 3px 30px 0;
  text-align: center;
}
nav i{
  position: relative;
  top: 40px;
  color: rgba(14, 14, 14, 0.5);
}
.material-icons {
  font-size: 50px;

}
#menuBut{
  height: 90px;
  padding: 35px 23px;
}
#menuBut div{
  width: 35px;
  height: 4px;
  background-color: black;
  border-radius: 1px;
  margin: 6px 0;
}

#mainPage{
  height: 80px;
  background: rgb(244, 67, 54);
  border: 1px rgb(186, 0, 13) solid;
  z-index: 10;
}
#mainPage i {
  top: 10px;
}
#sectionTwo{
  background: rgb(255, 167, 38);
  border: 1px rgb(199, 120, 0) solid;
  top: -30px;
  z-index: 9;
}
#sectionThree{
  background: rgb(255, 235, 59);
  border: 1px rgb(200, 185, 0) solid;
  top: -60px;
  z-index: 8;
}
#sectionFour{
  background: rgb(0, 200, 83);
  border: 1px rgb(0, 150, 36) solid;
  top: -90px;
  z-index: 7;
}
#sectionFive{
  background: rgb(33, 150, 243);
  border: 1px rgb(0, 105, 192) solid;
  top: -120px;
  z-index: 6;
}
#sectionSix{
  background: rgb(94, 53, 177);
  border: 1px rgb(40, 6, 128) solid;
  top: -150px;
  z-index: 5;
}
#sectionSeven{
  background: rgb(156, 39, 176);
  border: 1px rgb(106, 0, 128) solid;
  top: -180px;
  z-index: 4;
}
.navOverlay{
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 0 3px 30px 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  transition-timing-function: linear;
}

.shine{
  background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
  transition-timing-function: linear;
}
nav a:active .navOverlay{
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(33, 33, 33, 0.11));
}

/*------------------WATER---------------------------*/

.water{
  height: 100vh;
  width: 100%;
  z-index: -100;
  position: absolute;
}
.lineWater{
  background-color: #005cb2;
  width: 100%;
  height: 20px;
}
.nameWater{
  text-align: center;
  width: 100%;
  background-color: rgb(33, 150, 243);
  margin: 0 auto 30px;
  color: white;
  height: 70px;
  padding: 10px 0 0;
}
.nameWater h1{
  margin: 0;
}
.overlayWater{
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 102, 179, 0.2), rgba(0, 102, 179, 0.02), rgba(0, 102, 179, 0));
  position: absolute;
  z-index: -15;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.addWater{
  height: 450px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 50px;
}
.containerWater{
  display: flex;
  justify-content: space-evenly;
}
.tips{
  height: 80px;
  width: 400px;
  margin: 20px auto 0;
  text-align: center;
  background-color: white;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: rgb(33, 150, 243);
}
.addWat{
  height: 110px;
  width: 110px;

}
.addWater button{
  background-color: rgb(33, 150, 243);
  font-size: 30px;
  border: none;
  border-radius: 1px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: white;
  outline: none;
}
.water button:hover{
  background-color: rgb(0, 105, 192);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.addSpecific{
  height: 90px;
  width: 240px;
}
.inputSpecific{
  height: 70px;
  width: 240px;
  text-align: center;
  background-color: WHITE;
  border: 1px rgb(0, 102, 179) solid;
  border-radius: 2px;
  color: rgb(0, 102, 179);
  font-size: 30px;
}


.groupWater{
  position:relative;
  margin:20px;
}
.inputWater{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:240px;
  border:none;
  border-bottom:1px solid #757575;
}

label{
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
input:focus ~ label, input:valid ~ label{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.barWater{
  position:relative; display:block; width:240px;
}
.barWater:before, .barWater:after{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.barWater:before{
  left:50%;
}
.barWater:after{
  right:50%;
}

.inputWater:focus ~ .barWater:before, .inputWater:focus ~ .barWater:after {
  width:50%;
}
.highlightWater {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.helpWater button{
  height: 80px;
  width: 80px;
  background-color: rgb(33, 150, 243);
  border: none;
  border-radius: 50px;
  position: absolute;
  bottom: 50px;
  right: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: rgba(14, 14, 14, 0.5);
  font-size: 50px;
  outline: none;
}




#barwaterld .ldBar-label{
  display: none;
}




#barwaterhumanld .ldBar-label{
  font-size: 60px;

}
.historyWater{
  transition: all 0.3s;
}

.historyWater a{
  height: 100%;
  text-decoration: none;
  color: rgba(33, 150, 243, 0.49);
  position: absolute;
  font-size: 40px;
  right: 0;
  top: 0;
  padding: 21% 20px;
  transition: all 0.3s;

}
.historyWater a:hover{
  color: rgb(33, 150, 243);
  background: linear-gradient(to right, rgba(33, 150, 243, 0), rgba(33, 150, 243, 0.05), rgba(33, 150, 243, 0.15))
}
/* --------------------------------------------------------------OVERLAYS----------------------------------------------------------*/
.overlayFood{
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 166, 94, 0.2), rgba(0, 166, 94, 0.02), rgba(0, 166, 94, 0));
  position: absolute;
  z-index: -15;
}
.overlayHealth{
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(92, 46, 145, 0.2), rgba(92, 46, 145, 0.02), rgba(92, 46, 145, 0));
  position: absolute;
  z-index: -15;
}
.overlayNote{
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 107, 0.2), rgba(255, 255, 107, 0.02), rgba(255, 213, 3, 0));
  position: absolute;
  z-index: -15;
}
.overlaySettings{
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(163, 19, 142, 0.2), rgba(163, 19, 142, 0.02), rgba(163, 19, 142, 0));
  position: absolute;
  z-index: -15;
}
.overlayTraining{
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(250, 166, 26, 0.2), rgba(250, 166, 26, 0.02), rgba(250, 166, 26, 0));
  position: absolute;
  z-index: -15;
}
.overlayDashboard{
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(244, 67, 54, 0.2), rgba(244, 67, 54, 0.02), rgba(244, 67, 54, 0));
  position: absolute;
  z-index: -15;
}

/*------------------NOTE---------------------------*/
.note .container{
  margin: 20px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.note .container div{
  height: 280px;
  width: 24%;
  margin: 5px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.note .container div:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.note h3{
  padding: 10px;
  width: 100%;
  font-size: 20px;
  background-color: rgb(253, 216, 53);
  text-align: center;
  margin: 0;
}

.lineNote{
  background-color: #c6a700;
  width: 100%;
  height: 20px;
  z-index: 15;
}
.nameNote{
  text-align: center;
  width: 100%;
  background-color: #fdd835;
  color: black;
  height: 70px;
  padding: 10px 0 0;
  z-index: 15;
}
.nameNote h1{
margin: 0;
}


.note textarea{
  height: 85%;
  width: 100%;
  border: none;
  background-color: rgb(247, 247, 247);
  padding: 20px;
  outline: none;
  font-size: 20px;
  resize: none;

}
.helpNote button{
  height: 80px;
  width: 80px;
  background-color: rgb(253, 216, 53);
  border: none;
  border-radius: 50px;
  position: absolute;
  bottom: 50px;
  right: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: rgba(14, 14, 14, 0.5);
  font-size: 50px;
  outline: none;
}

.note button:hover{
  background-color: #c79100;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.headline{
  z-index: 1000;
}


/*-----------------------------------HEALTH (Sleep)-------------------*/

.lineHealth{
  background-color: rgb(40, 6, 128);
  width: 100%;
  height: 20px;
}
.nameHealth{
  text-align: center;
  width: 100%;
  background-color: rgb(94, 53, 177);
  color: white;
  height: 70px;
  padding: 10px 0 0;
}
.nameHealth h1{
  margin: 0;
}
.health h3{
  padding: 10px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
.star{
  background-color: salmon;
  width: 100%;
  height: 40px;
}
.health button{
  height: 70px;
  width: 180px;
  background-color: #7953d2;
  font-size: 30px;
  border: none;
  border-radius: 1px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: white;
  outline: none;
}
.health textarea{
  height: 200px;
  width: 100%;
  border: none;
  background-color: rgb(247, 247, 247);
  padding: 20px;
  outline: none;
  font-size: 20px;
  resize: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px rgba(121, 83, 210, 0.3) solid;
  overflow:hidden;
}
.carr{
  background-color: white;
  border: 1px #7953d2 solid;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 20px auto;
}
.inputs{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.inputs input{
  height: 40px;
  width: 50px;
  display: inline-block;
  border: none;
  border-bottom: 2px rgba(121, 83, 210, 0.3) solid;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
  padding: 0;
}

.inputs select{
  height: 40px;
  width: 50px;
  display: inline-block;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
  border: none;
}
.health span{
  font-size: 30px;
}
.helpHealth button{
  height: 80px;
  width: 80px;
  background-color: #7953d2;
  border: none;
  border-radius: 50px;
  position: absolute;
  bottom: 50px;
  right: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: rgba(14, 14, 14, 0.5);
  font-size: 50px;
  outline: none;
}

.health button:hover{
  background-color: #4d2c91;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*-----------------------------------FOOD (nutrition)-------------------*/


.lineFood{
  background-color: #009624;
  width: 100%;
  height: 20px;
}
.nameFood{
  text-align: center;
  width: 100%;
  background-color: #00c853;
  color: black;
  height: 70px;
  padding: 10px 0 0;
}
.nameFood h1{
  margin: 0;
}
.food h3{
  padding: 10px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 0;
}


/*-----------------------------------TRAINING-------------------*/
.lineTraining{
  background-color: #c68400;
  width: 100%;
  height: 20px;
  z-index: -5;
}
.nameTraining{
  text-align: center;
  width: 100%;
  background-color: #ffb300;
  color: black;
  height: 70px;
  padding: 10px 0 0;
  z-index: -5;
}
.nameTraining h1{
  margin: 0;
}
.training h3{
  padding: 10px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.training .container{
  margin: 20px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.training .container div div{
  height: 220px;
  width: 220px;
  margin: 20px 20px;
  background-color: #ffb300;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #717171;
  font-size: 40px;
  text-align: center;
  padding-top: 80px;
  outline: none;
}
.training .container div div:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.training .container div a{
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.helpTraining button{
  height: 80px;
  width: 80px;
  background-color: #ffb300;
  border: none;
  border-radius: 50px;
  position: absolute;
  bottom: 50px;
  right: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: rgba(14, 14, 14, 0.5);
  font-size: 50px;
  outline: none;
}
.training button:hover{
  background-color: #c79100;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*--------------------------DASHBOARD-------------------------------------*/

.lineDashboard{
  background-color: rgb(186, 0, 13);
  width: 100%;
  height: 20px;
  z-index: -5;
}
.nameDashboard{
  text-align: center;
  width: 100%;
  background-color: rgb(244, 67, 54);
  color: black;
  height: 70px;
  padding: 10px 0 0;
  z-index: -5;
}
.nameDashboard h1{
  margin: 0;
}
.dashboard h3{
  padding: 10px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 0;
}